# Created by .ignore support plugin (hsz.mobi)
.idea/
gmall-parent/gmall-parent.iml
gmall-parent/src/
gmall.iml
#忽略所有的配置文件

gmall-user-web/src/main/resources/application.properties
gmall-user-service/src/main/resources/application.properties




